.git
.gitignore
node_modules
npm-debug.log
.DS_Store
.env
.env.local
.env.*.local
dist
build
*.md
.vscode
.idea
*.swp
*.swo
*~
.gitattributes
CODEOWNERS
.editorconfig
.eslintignore
.prettierignore
test
vitest.config.mts
tsconfig.json
*.test.ts
*.spec.ts
coverage
logs
